name: Build and Push to GHCR

on:
  push:
    tags:
      - "v*"

env:
  # renovate: datasource=github-releases depName=taptap packageName=litinoveweedle/taptap versioning=semver
  TAPTAP_VERSION: "0.2.6"

  # renovate: datasource=github-releases depName=taptap-mqtt packageName=litinoveweedle/taptap-mqtt versioning=semver
  TAPTAP_MQTT_VERSION: "0.2.2"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}
          labels: |
            org.opencontainers.image.title=TapTap-MQTT
            org.opencontainers.image.description=Docker implementation of Tigo CCA Tap to MQTT bridge to get data from Tigo optimizers locally to Home Assistant.
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.url=https://github.com/${{ github.repository }}
            org.opencontainers.image.licenses=MIT

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          pull: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            TAPTAP_VERSION=${{ env.TAPTAP_VERSION }}
            TAPTAP_MQTT_VERSION=${{ env.TAPTAP_MQTT_VERSION }}